.home-container{
    background-image: url("../Assets/John-wick.jpg");
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.intro-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 2em 0;
}
.moviebox-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.search-input {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0 .5em;
    height: 2.5rem;
  }
  .search-input input{
    margin-right: 7em;
  }
  
  .search-input search-icon {
    margin-right: .2em;
  }
  ::placeholder{
    color: #fff;
  }
  
  .search-input input {
    border: none;
    outline: none;
    flex: 1;
    background-color: transparent;
    color: #fff;
  }
  .signing-container{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .content{
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    max-width: 404px;
    height: 285px;
    padding: 4em 2em 2em 8em;
  }
  .content h3{
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 0;
  }
  .rate{
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
  }
  .rate-num{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .rate-percent{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .rate-num img, .rate-percent img{
    height: 50%;
  }
  .watch-btn{
    margin-top: 2em;
  }
  .content button{
    display: flex;
    gap: 0.5rem;
   width: fit-content;
    align-items: center;
    background-color: #BE123C;
    padding: 1em  5em;
    border: none;
    border-radius: .5rem;
    color: #ffffff;
  }
  .card-container{
    padding: 10em 2em;
    color:black;
  }
  .card-component{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
    padding: 1em 2em 2em 8em;
  }
  @media(max-width: 640px){
    .content{
      padding-right: 1em;
      padding-left: .3em;
    }
    .card-component{
      grid-template-columns: auto;
      padding: 2em 0;
    }
    .signing-container{
      position: absolute;
      right: 0;
      top: 1rem;
    }
    .search-input{
      margin-top: 4em;
      width: 90%;
    }
    .moviebox-container{
      position: absolute;
      top: 0;
      left: 0;
    }
    .moviebox-container img{
      width: 20%;
    }
    .card-con-title{
      padding-top: 4em;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  
