.movie-card-container{
    width: 85%;
    border: 1px solid #eee;
    border-radius: .2rem;
}
.movie-card-container h3, p{
    margin: 0 ;

}
.movie-img{
    border-top-right-radius: .2rem;
    border-top-right-radius: .2rem;
    
}
.detail-text{
    display: grid;
    row-gap: 1rem;
    padding: 0.5em 1em 1em 2em;
}
.detail-text button{
    cursor: pointer;
    padding: 1em 3em;
    border: none;
    border-radius: .5rem;
    color: #ffffff;
    background-color: #BE123C;
}
.detail-text button:hover{
    background-color: #eee;
    color: #BE123C;
}
#link{
    margin-bottom: 0;
    text-decoration: none;
    color: black;
}

@media(max-width:640px){
    .movie-card-container{
        width: 100%;

    }
    .movie-img{
        width: 100%;

    }
}