.moviedetails-container{
    display: grid;
    grid-template-columns: 15% 80%;
    column-gap: 2rem;
    
}
.sidebar{
    display: grid;
    row-gap: 8rem;
    border: 1px solid #eee;
    /* border-radius-: 0  20%  20% 0; */
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    
}
.sidebar-pad{
    padding: 2em;
    width: 100%;
    display: grid;
    row-gap: 3rem;
}
.sidebar-details{
    display: grid;
    grid-template-columns: 0.1fr 0.4fr;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}
.sidebar-details img{
    width: 100%;
}
.genres{
    padding: 2em;
}